<div class='pricing-page'>
  <h1><i class="fas fa-dollar-sign"></i> Pricing</h1>

  <h4 class='pricing-paragraph-1'>Users set their own prices when they create a listing which should be reviewed before you request to help.<h4>

  <h4 class='pricing-paragraph-2'>Prices are for the entire job and hours may vary.  Any additional compensation should be discussed and agreed upon between both parties.</h4>

</div>
