<div class="mt-5 thank-you-page mb-5">
  <%= react_component 'AwesomeComponent' %>

  <h1>Hi there <%=@user%>!</h1>
  <h3>Thanks for contacting Müver. Our team is working hard to meet your request.

    An email will be sent soon. </h3>



</div>
