<div class="mt-5 thank-you-page">
  <%= react_component 'AwesomeComponent' %>

  <h1>Hi there <%=@user.first_name%>!</h1>
  <h3>Thanks for using Müver. We are currently looking for other movers to help you with your move!

    An email will be sent to <%=@user.email%> as soon as another mover has signed up to help. </h3>

    <div class='view-listing-center'>
      <%= link_to 'View Your Listing', listing_path(@id), :class => 'btn btn-dark' %>
    </div>

</div>
