<div class="thank-you-page">
  <div class='thank-you-animation'><%= react_component 'AwesomeComponent' %></div>

  <h1 class='thank-you-hello'>Hi <%=@user.first_name%>!</h1>
  <div class='thank-you-message'>Thank you for using Müver. We are currently looking for other movers to help you with your move!</div>
  <div class='thank-you-message'>An email will be sent to <%=@user.email%> as we match you with a mover who can help.</div>

  <div class='view-listing-center'>
    <%= link_to 'View Your Listing', listing_path(@id), :class => 'btn btn-dark' %>
  </div>

</div>
