<div class='guests-index-body'>

  <h1 class='page-title'>Here are all the People Moving near you:</h1>

  <hr>

  <div class='card-columns'>
    <% @listings.each do |l| %>
    <div class='card border-secondary mb-3 card-shadow' style='max-width: 18rem;'>
      <div class='card-header'><%= "#{l.user.first_name} is moving" %></div>
      <div class='card-body text-primary'>
        <p class='card-text'><%= link_to l.description, listing_path(l.id) %></p>
      </div>
    </div>
    <% end %>
  </div>
  <div class='new-move-button'>
    <%= link_to 'New Move', new_listing_path, class: 'btn btn-primary card-shadow' %>
  </div>

</div>
