<p>
  Map centered around:
  <span id="long"><%= @coordinates.first %></span>,
  <span id="lat"><%= @coordinates.last %></span>
</p>

<div><%= react_component 'Map',
         props: { coordinates: @coordinates, centerOnUser: true } %>
</div>
