<div class="mt-5">
<table class='table listings-table table-striped'>
  <tbody>
    <% @notifications_all.each do |n| %>
      <tr>
        <th class='row-name'scope='row'>Message:</th>
        <td class='row-data'>
          <%=n.message%>
        </td>
        <td class='row-data'>
          <%= button_to 'Approve', listing_path(n.proposal.listing.id), method: :get, class:"btn btn-primary" %>
        </td>
        <td class='row-data'>
          <%= button_to 'Delete Notification', [@notification_delete, n], method: :delete, class:"btn btn-danger" %>
        </td>

      </tr>
    <% end %>
</table>
</div>
