.faq-page {
  height: 100vh;
}

.faq-header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .faq-page {
    padding-bottom: 5em;
    height: auto;
  }
}
