.btn-group .dropdown-menu  {
  background-color: #f8f9fa;
  color: rgba(0,0,0,.5);
}

.btn-group button  {
  background-color: #f8f9fa;
  color: rgba(0,0,0,.5);
}

.home-page {
  position: fixed;
  overflow: auto;
  width: 100%;
  left: 0;
  right: 0;
  padding-bottom: 80vw;
  background:
  	linear-gradient(
  		blue,
  		transparent
  	),
  	linear-gradient(
  		60deg,
  		#bb2972,
  		transparent
  	),
  	linear-gradient(
  		-60deg,
  		#ff7546,
  		transparent
  	);
  background-blend-mode: screen;
  font-family: 'Poppins', sans-serif, bold;
}

.alert {
  margin-bottom: 0;
}

.intro{
  color: #e1e6f0;
  text-align: justify;
  padding-top: 6vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: inline-block;
}

.container-home {
  text-align: center;
  padding-left: 30vw;
  padding-right: 30vw;
}

#first-button {
  margin-top: 6vw;
}

#first-button, #second-button {
  color: #e1e6f0;
  margin-bottom: 5vw;
  text-align: center;
  font-weight: bold;
}
