*{
  font-family: 'Maven Pro', sans-serif;
}

.navbar-home-name {
  margin-left: -1vw;
}

.navbar-home-icon a {
  color: inherit;
  text-decoration: none;
}
.btn-group .dropdown-menu  {
  background-color: #f8f9fa;
  color: rgba(0,0,0,.5);
}

.btn-group button  {
  background-color: #f8f9fa;
  color: rgba(0,0,0,.5);
}

.home-page {
  position: fixed;
  overflow: auto;
  width: 100%;
  left: 0;
  right: 0;
  padding-bottom: 200vw;
  background:
  	linear-gradient(
  		#c6e5ec,
  		transparent
  	),
  	linear-gradient(
  		50deg,
  		#bb2972,
  		transparent
  	),
  	linear-gradient(
  		-50deg,
  		#ff7546,
  		transparent
  	);
  background-blend-mode: screen;
}

.alert {
  margin-bottom: 0;
}

.intro{
  text-align: justify;
  padding-top: 6vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
}

.home-buttons {
  color: #e1e6f0;
  text-align: center;
  font-weight: bold;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  justify-content:space-around;
}

#first-button, #second-button {
  margin: 6rem 3rem 6rem 3rem;
  padding: 15px;
}
