*{
  font-family: 'Maven Pro', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.logo-container {
  text-align: center;
}

.navbar-home-name {
  margin-left: -1vw;
}

.navbar-home-icon a {
  color: inherit;
  text-decoration: none;
}

.btn-group .dropdown-menu  {
  background-color: #f8f9fa;
  color: rgba(0,0,0,.5);
}

.btn-group button  {
  background-color: #f8f9fa;
  color: rgba(0,0,0,.5);
}

.home-page {
  background:
  	linear-gradient(
  		#c6e5ec,
  		transparent
  	),
  	linear-gradient(
  		50deg,
  		#bb2972,
  		transparent
  	),
  	linear-gradient(
  		-50deg,
  		#ff7546,
  		transparent
  	);
  background-blend-mode: screen;
  width: 100%;
}

.alert {
  margin-bottom: 0;
}

.intro{
  text-align: justify;
  padding-top: 6vw;
  padding-left: 12vw;
  padding-right: 12vw;
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  text-justify: inter-word;
  font-size: 1.3em;
  align-items: center;
  justify-content: space-around;
}

.intro-mega{
  text-align: justify;
  padding-top: 15vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
}

.home-buttons {
  padding-top: 5vh;
  color: #e1e6f0;
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo-and-buttons {
  height: 100vh;
  padding-bottom: 2em;
}

#first-button, #second-button {
  /* margin-top: 2em; */
  margin-bottom: 4em;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 20px;
}

.pics_container{
  padding-top: 2em;
  paddin-bottom: 2em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10vw;
  padding-right: 10vw;
}

.pics {
  width: 22vw;
  padding: 10px;
  border: #d61274 solid 1px;
  border-radius: 4%;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 4em;
}

.light-up {
  color: red !important;
}


@media only screen and (max-width: 600px) {
  .intro {
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  .pics {
    width: 90%;
    max-width: 300px;
    height: auto;
    max-height: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    float: none;
    flex-direction: column;
  }

  .pics_container, .home-buttons {
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    float: none;
  }

  .home-buttons {
    color: #e1e6f0;
    margin-bottom: 10vw;
  }

  #first-button, #second-button {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50vw;
    display: flex;
  }

  #second-button {
    margin-top: 2em;
  }
  
  .logo-and-buttons {
    height: 100vh;
  }
}
