* {
  font-family: 'Poppins', sans-serif;
  }


a.navbar-brand {
  font-size: 24px;
  padding-left: 1rem;
}

 nav{
   font-size: 24px; 
} 

body{
  background-color: lightblue;
  color: rgb(49, 62, 77);
}

h1{
  padding: 1em;
  text-align: center;
}
.card-shadow{
  box-shadow: 5px 5px rgb(59, 74, 90);
}

.guests-index-body{
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}
