* {
  font-family: 'Maven Pro', sans-serif;
  }


a.navbar-brand {
  font-size: 24px;
  padding-left: 1.2vw;
}

nav{
   font-size: 24px;
}

body{
  background-color: lightblue;
  color: rgb(49, 62, 77);
}

h1{
  padding: 1em;
  text-align: center;
}
.new-move-button {
  padding-top: 20px;
}

.card-shadow{
  box-shadow: 5px 5px rgb(59, 74, 90);
}

.guests-index-body{
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}

.hide-cards{
  display: none;
}

.btn-light {
  margin: 2em;
}
.job-container {
  display: flex; 
  justify-content: center;
  flex-direction: row;
  height: 350px;
}

/* .job-container2 {
  display: flex;
  margin:
  } */

.job_pic {
  width: 250px;
  height: 250px;
  margin: auto;
  padding: 2px;

}