.show-page {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 10vw;
  background:
  	linear-gradient(
  		#c6e5ec,
  		transparent
  	),
  	linear-gradient(
  		50deg,
  		silver,
  		transparent
  	),
  	linear-gradient(
  		-50deg,
  		silver,
  		transparent
  	);
  background-blend-mode: screen;
  font-family: 'Poppins', sans-serif, bold;
}

.row-data a {
  color: inherit;
  text-decoration: none;
}

.row-name {
  width: 9em;
}

.row-data {
  margin-right: 50em;
}

.starting-location-map {
  margin-top: 2vw;
}

.listing-status {
  margin-top: 2vw;
}

.edit-listing-btn {
  margin-top: 2vw;
}
