.chat {
  background: #EEEEEE;
}

.chat-message-box {
  overflow-y: scroll;
  height: 60vh;
}

.form-control.chat-input-box {
  background-color: white;
}

.container.footer-input {
  width: 100%;
  border-color: #FFFFFF;
  background-color: #409388;
  height: 85px;
}

.prefix.mdi-communication-chat {
  color: white;
}

.chat-avatar-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 12px;
  margin-right: 20px;
  margin-bottom: -12px;
}

.chat-message-timestamp {
  color: #929292;
  margin-top: 20px;
  font-size: .8em;
}

.span.chat-message-timestamp {
  padding-left: 4vw;
}

.chat-message {
  padding-left: 80px;
  margin-top: -15px
}

.input-field.col.s2 {
  flex-grow: 0;
  margin-left: 0;
  bottom: 0;
}

.collection {
 margin-bottom:1px;
 margin-top: -1px;
}

.btn-group.btn-light.back {
  margin-top: 5vw;
}

.text-input-box.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 70px;
}

.input-field.col.s12 {
  padding-top: 1.5rem;
}
