.approval-status{
  background-color: green;
  color: white;
  text-align: center;
  font-weight: bold;
  width:50vw;
  border-radius: 5px;
  float: left;
  padding: .375rem .75rem
}

.view-profile-btn {
  margin-top: 2vw;
}

.user-wants-to-help {
  font-weight: bold;
}

.approval-toggle {
  margin-left: 2vw;
}
